// シェアボタン（共通のスタイル）
.share {
    background: #f3f3f3;
    border: none;
    li {
        list-style: none;
        a {
            display: inline-block;
            font-size: 2.3rem;
        }
    }
    .twitter > a {
        color: #00B0ED;
    }
    .facebook > a{
        color: #3B5998;
    }
    .line > a {
        color: #00C300;
    }
}

// 投稿ページ
.post-wrapper {
    width: 800px;
    margin: 0 auto;
    @include media_queries(sm_size) {
        width: 100%;
    }
    // snsボタン(PC時)
    .share-buttons-fixed {
        position: fixed;
        top: 45%;
        left: 0;
        background: #f3f3f3;
        margin-top: 20px;
        padding: 10px;
        z-index: 10;
        @include media_queries(sm_size) {
            display: none;
        }
    }
    // 記事タイトル
    .post-header {
        border: 1px solid #ddd;
        padding: 20px;
        .post-title {
            font-size: 1.5rem;
            line-height: 200%;
            margin: 20px 0;
        }
        .post-info {
            .post-category {
                a {
                    @include category_button();
                }
            }
            .post-published {
                @include post_date();
            }
        }
    }
    // 記事
    #content {
        padding: 0 15px;
        margin-bottom: 420px;
        @include media_queries(sm_size) {
            padding: 0 2rem;
            margin-bottom: 300px;
        }
        @include media_queries(xs_size) {
            padding: 0 1.2rem;
            margin-bottom: 150px;
        }
        // 記事部分
        .entry-content {
            // 目次
            #penguin-toc {
                border-top: 6px solid $key_color_3;
                margin: 30px 0 50px;
                padding: 14px;
                background: #f9f9f9;
                box-shadow: 0 1.5px 2.4px rgba(0, 0, 0, 0.15);
                ul {
                    background: none;
                    border: none;
                    margin: 0;
                    margin-left: 15px;
                    padding: 5px;
                    li {
                        line-height: 180%;
                        a {
                            color: $font_color;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            // メインコンテンツ上のサムネイル
            .single-post-thumbnail {
                margin-top: 25px;
                img {
                    width: 80%;
                    height: auto;
                    margin: 0 10%;
                }
            }
            // アップした画像
            .size-full {
                max-width: 100%;
                height: auto;
            }
            // タグのCSS
            a {
                color: $key_color_3;
            }
            p {
                margin: 24px 0;
                line-height: 35px;
            }
            img {
                width: 85%;
                height: auto;
                display: block;
            }
            table {
                border: 1px solid gray;
                padding: 0.5rem;
                margin: 20px 0;
                width:100%;
                th {
                    border: 1px solid gray;
                    padding: 0.6rem;
                }
                td {
                    border: 1px solid gray;
                    padding: 0.6rem;
                    &:nth-child(2n+1) {
                        font-weight: bold;
                        width: 30%;
                    }
                }
            }
            ul {
                margin-left: 20px;
            }
        }
        // 記事の下部
        .content-info {
            // 関連記事
            .related-posts {
                margin: 50px 0 30px;
                .related-post {
                    display: flex;
                    margin: 20px 0;
                    .related-title {
                        font-size: 0.9rem;
                        margin-left: 15px;
                    }
                    img {
                        width: 100px;
                        height: auto;
                    }
                    .no-image {
                        height: 100px;
                    }
                }
            }
            // snsボタン(1024〜）
            .share-buttons {
                display: none;
                li {
                    display: inline-block;
                    padding: 8px;
                }
                @include media_queries(sm_size) {
                    display: block;
                }
            }
        }
    }
}
