#footer {
    position: relative;
    background: #fff;
    margin-top: 150px;
    border-top: 1px solid gray;
    z-index: 20;
    @include media_queries(xs_size) {
        margin-top: 110px;
    }
    .footer-widget-areas {
        display: flex;
        margin-top: 30px;
        @include media_queries(sm_size) {
            display: block;
        }
        .footer-widget {
            width: calc(100% / 3);
            margin: 0 15px;
            @include media_queries(sm_size) {
                width: 90%;
                margin: auto;
            }
        }
    }
    #footer-menu {
        margin-top: 80px;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            margin: 0 10%;
            li {
                list-style: none;
                padding: 8px;
            }
        }
    }
    .copy-right {
        margin: 15px 0;
        padding: 10px;
        text-align: center;
        font-size: 0.8rem;
    }
}
