#header {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    background: #fff;
    z-index: 9999;
    .header-container {
        position: relative;
        padding: 0 32px;
        .site-title {
            display: inline-block;
            font-weight: bold;
            a {
                display: block;
                padding: 10px 0;
                font-size: 1.5rem;
                @include media_queries(sm_size) {
                    font-size: 1rem;
                }
                @include media_queries(xs_size) {
                    width: 90%;
                }
            }
        }
        .custom-logo {
            width: 200px;
            height: auto;
        }
        .site-description {
            padding-bottom: 10px;
        }
        .nav-button {
            position: absolute;
            top: 15px;
            right: 10px;
            .menu-trigger {
                position: relative;
                width: 30px;
                height: 20px;
                display: inline-block;
                span {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: gray;
                    border-radius: 4px;
                    transition: all 0.4s;
                    &:nth-of-type(1) {
                        top: 0;
                    }
                    &:nth-of-type(2) {
                        top: 8px;
                    }
                    &:nth-of-type(3) {
                        bottom: 0;
                    }
                }
            }
        }
    }
}
