#main {
    // トップ
    .top-main-container {
        display: flex;
        justify-content: center;
        // トップのウェジェット
        #top-widget-area {
            width: 90%;
            margin: auto;
        }
        // 投稿一覧
        .post-list {
            width: 800px;
            @include media_queries(sm_size) {
                width: 100%;
            }
            .post-box {
                display: flex;
                margin: 20px 0;
                padding: 0.5rem;
                transition: all 0.4s;
                width: 100%;
                box-sizing: border-box;
                &:hover {
                    background: $key_color_4;
                    transition: all 0.4s;
                }
                .post-thumbnail {
                    img {
                        width: 246px;
                        height: auto;
                        @include media_queries(xs_size) {
                            width: 120px;
                        }
                    }
                }
                .post-info {
                    width: 70%;
                    margin-left: 20px;
                    h2 {
                        font-size: 1.2rem;
                        @include media_queries(xs_size) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        @include media_queries(sm_size) {
            display: block;
        }
    }
    // ページネーション
    .page-numbers {
        margin: 30px 0;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 5px;
            .page-numbers {
                display: block;
                margin: 0 2px;
                padding: 5px;
                background: #fff;
                border-radius: 50%;
                color: gray;
                border: 1px solid #ddd;
                width: 30px;
                height: 30px;
            }
            .current {
                background: $key_color_5;
                color: #fff;
            }
            .prev,.next {
                background: $key_color_2;
                color: #fff;
            }
        }
    }
    // サイドバー
    #sidebar {
        width: 380px;
        margin-left: 130px;
        @include media_queries(sm_size) {
            width: 90%;
            margin: auto;
        }
    }
    .date {
        margin-left: 5px;
    }
    // カテゴリー
    .archive-page {
        .post-header {
            text-align: center;
            margin-bottom: 40px;
        }
    }
}
