#grobal-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    visibility: hidden;
    overflow-y: scroll;
    z-index: 9999;
    .widget-title,.menu-title {
        margin: 40px 0 30px;
        background: $key_color_3;
        color: #fff;
        border: none;
        padding: 0.5rem;
    }
    .nav-wrapper {
        background: #fff;
        width: 90vw;
        min-height: 80vh;
        margin: 50px 5vw;
        .nav-container {
            padding: 0 14px;
            .close-btn {
                width: 100%;
                padding: 20px 0;
                border: none;
                background: #fff;
                color: gray;
                font-size: 2rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.4s;
                &:hover {
                    color: $font_color;
                    transition: all 0.4s;
                }
            }
            #site-navigation {
                width: 90%;
                margin: 40px 5% 0;
                li {
                    list-style: none;
                    a {
                        color: $font_color;
                    }
                }
                .search-form {
                    display: flex;
                    width: 100%;
                    .search-field {
                        width: 90%;
                        height: 44px;
                        box-sizing: border-box;
                        border: 1px solid $key_color_2;
                        font-size: 0.9rem;
                    }
                    .search-submit {
                        background: $key_color_3;
                        width: 44px;
                        height: 44px;
                        color: #fff;
                        font-size: 1.5rem;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            #header-menu {
                margin-top: 30px
            }
        }
    }
}

.nav-active {
    visibility: visible !important;
    opacity: 1 !important;
}
