#top-slider {
    position: relative;
    z-index: 9998;
    margin-bottom: 60px;
    .swiper-container {
        padding-top: 30px;
        @include media_queries(sm_size) {
            padding-top: 40px;
        }
        @include media_queries(xs_size) {
            padding-top: 45px;
        }
        @include media_queries(minimun_size) {
            padding-top: 80px;
        }
        .swiper-slide {
            display: inline-block;
            width: 90% !important;
            margin: 0 5%;
            @include media_queries(xs_size) {
                width: 100% !important;
                margin: 0;
            }
            .slide-container {
                display: flex;
                @include media_queries(xs_size) {
                    display: block;
                }
                .swiper-img {
                    img {
                        width: 420px;
                        height: auto;
                        @include media_queries(sm_size) {
                            width: 320px;
                        }
                        @include media_queries(xs_size) {
                            width: 100%;
                        }
                    }
                }
                .swiper-txt {
                    padding: 24px 24px 0;
                    @include media_queries(xs_size) {
                        padding: 14px 14px 0;
                    }
                    h2 {
                        width: 80%;
                        margin: 0 20% 30px 0;
                        a {
                            background: linear-gradient(to top,$key_color_3 4px,#fff 4px);
                        }
                        @include media_queries(xs_size) {
                            width: 100%;
                            margin: 0 0 30px 0;
                            font-size: 1.3rem;
                        }
                    }
                    .post-info {
                        a {
                            @include category_button();
                        }
                        .post-published {
                            @include post_date();
                        }
                    }
                }
            }
        }
        .swiper-pagination-bullets {
            position: static;
            margin-top: 15px;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                margin: 0 10px;
            }
            .swiper-pagination-bullet-active {
                background: $key_color_3;
            }
        }
    }
}
