#top-slider {
    margin: 30px 0;
    .swiper-container {
        height: 300px;
        @include media_queries(xs_size) {
            height: 500px;
        }
        box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.16);
        @include media_queries(minimun_size) {
            padding-top: 80px;
        }
        .swiper-wrapper {
            .swiper-slide {
                width: 90% !important;
                margin: 0 5%;
                @include media_queries(xs_size) {
                    width: 100% !important;
                    margin: 0;
                }
                .slide-container {
                    display: flex;
                    background: #fff;
                    padding: 12px;
                    @include media_queries(xs_size) {
                        display: block;
                        padding: 0;
                    }
                    .swiper-img {
                        img {
                            width: 350px;
                            height: 240px;
                            @include media_queries(sm_size) {
                                width: 320px;
                            }
                            @include media_queries(xs_size) {
                                width: 100%;
                            }
                        }
                    }
                    .swiper-txt {
                        margin-left: 20px;
                        @include media_queries(xs_size) {
                            padding: 0 14px;
                            margin-left: 0;
                        }
                        h2 {
                            a {
                                background: linear-gradient(to top,$key_color_3 4px,#fff 4px);
                                line-height: 180%;
                            }
                            @include media_queries(xs_size) {
                                width: 100%;
                                min-height: 120px;
                                font-size: 1.3rem;
                            }
                        }
                        .post-info {
                            margin: 0;
                            a {
                                @include category_button();
                            }
                            .post-published {
                                @include post_date();
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination-bullets {
            bottom: 12px;
            @include media_queries(xs_size) {
                bottom: 20px;
            }
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                margin: 0 10px;
            }
            .swiper-pagination-bullet-active {
                background: $key_color_3;
            }
        }
    }
}
